SUPABASE_URL=
SUPABASE_ANON_KEY=
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.uorhowmwkkognbegwuon:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.uorhowmwkkognbegwuon:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
